<section class="login">
    <div class="row">
        <div class="col">
           <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                        </div>
                        <input type="text" [(ngModel)]="email" class="form-control" placeholder="Enter Email" aria-label="Enter Email">
                    </div>
    
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        </div>
                        <input type="text" [(ngModel)]="password" class="form-control" placeholder="Enter password" aria-label="Enter password"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Confirm password" aria-label="Confirm password"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" (click)="signIn()">Sign Up</button>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>